version: "3.7"

services:
  nocodb:
    image: nocodb/nocodb:latest
    container_name: nocodb
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      NC_DB: "sqlite"
    volumes:
      - ./data:/usr/app/data

volumes:
  data: